
<div ng-controller="bController" style="width: 60%;" class="container"
	ng-init="initPage()">
	<h1>电器商品</h1>
	<form class="form-search">
		按照商品名字搜索：<input class="input-medium"  type="text" ng-model="jsonitem.title">
                       按照商品金额搜索：<input class="input-medium"  type="text" ng-model="jsonitem.numIid">
        <button class="btn btn-primary" type="button"  ng-click="jsonitemlist()">查询</button>
	</form>
	<table class="table table-bordered">
		<tr>
			<th>商品名称</th>
			<th>单价(元)</th>
			<th>数量</th>
			<th>操作</th>
		</tr>
		<tr ng-repeat="item in cart | filter:search">
			<td>{{item.shop_name}}</td>
			<td>{{item.shop_price}}</td>
			<td>{{item.shop_count}}</td>
			<td><button ng-click="addGwc(item);" type="button"
					class="btn btn-danger">加入购物车</button></td>
		</tr>
	</table>
	
	<tm-pagination conf="pageConfig" ></tm-pagination>
	
	
	<!-- <nav>
		<ul class="pager" ng-model="fenye">
			<li ng-click="PreSelect();"><a href="">上一页</a></li>
			<li ng-click="NextSelect();"><a href="">下一页</a></li>
		</ul>
	</nav> -->
	<!-- <div ng-show="!cart.length">
	   <p>已经是最后了,没有下一页了</p>
	</div> -->
	
</div>


